h1{
    color:rgb(73, 73, 252);
}
h2{
    color:rgb(73, 73, 252);
}
body{
    background-image: url(cyber_back.jpg);
    background-size: cover;
    color:turquoise;
}
img{
    width:500px;
}
li{
    border-right: 1px solid #bbb;
    float:left;
}
li:last-child{
    border-right:none;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li a{
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color:blueviolet;
}